{% set iconUrl = view.getAssetManager().getPublishedUrl('@superbig/vipps/assetbundles/vippsexpress/dist', true) ~ '/img/hurtigkasse.svg' %}
<a href="{{ nonceUrl }}" class='button vipps-express-checkout' title="{{ title }}"><img alt="{{ title }}" border=0 src="{{ iconUrl }}"></a>