{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Vipps plugin for Craft CMS
 *
 * VippsUtility Utility Content
 *
 * @author    Superbig
 * @copyright Copyright (c) 2018 Superbig
 * @link      https://superbig.co
 * @package   Vipps
 * @since     1.0.0
 */
#}

<h1>VippsUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@superbig/vipps/assetbundles/vippsutilityutility/dist', true) ~ '/img/VippsUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>